header{
    background: rgb(206, 203, 203);
    display:flex;
    justify-content: center;
    & h1{
        color:white;
        text-align:center;
        width:100%;
    }
}
.global{
    display:flex;
    flex-direction: column;
    justify-content: center;
    & h2, p{
        text-align: center;
        width:100%;
    }
    & p{
        font-size:3.4em;
    }
    & input{
        width:100px;
        text-align:center;
        margin-left: auto;
        margin-right: auto;
    }
    & button{
        margin-top:50px;
        background:none;
        border:none;
        font-size:2em;
        cursor: pointer;
    }
}